<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
        <rules>
            <rule name="Rule" stopProcessing="true">
            <match url="^(.*)$" ignoreCase="false" />
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
            </rule>
        </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="X-Robots-Tag" value="noindex, nofollow, noarchive, nosnippet" />
            </customHeaders>
        </httpProtocol> 
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network defaultCredentials="false" host="mail.service-division.com" password="" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
    <location path="" overrideMode="Deny">
    </location>
    <location path="" overrideMode="Allow">
        <appSettings />
    </location>
</configuration>
